Repository emilkholod/2025-03-10-test-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: 1st-project, 2nd-project

1st-project:
  name: pre-commit for 1st project
  entry: pre-commit run -c 1/.pre-commit-config.yaml --files 1
  language: system
  verbose: true
  fail_fast: true

2nd-project:
  name: pre-commit for 2nd project
  entry: pre-commit run -c 2/.pre-commit-config.yaml --files 2
  language: system
  verbose: true
  fail_fast: true

UPD: Add default pre-commit hooks for all project
  .pre-commit-config.yaml
Due: none

UPD: Improve pyproject.toml
  1/.pre-commit-config.yaml
  1/Makefile
  1/pyproject.toml
  2/.pre-commit-config.yaml
  2/Makefile
  2/README.md
  2/pyproject.toml
Due: 1st-project, 2nd-project

FIX: Fix Dockerfile
  1/Dockerfile
  2/Dockerfile
Due: 1st-project, 2nd-project

FIX: Improve pre-commit configs
  .pre-commit-config.yaml
  1/.pre-commit-config.yaml
  2/.pre-commit-config.yaml
Due: 1st-project, 2nd-project

FIX: Fix formating
  3/requirements.txt
  3/tables.sql
  4/table.sql
Due: none

MOVE: Move .gitignore
  .gitignore
Due: none

ADD: Add pydantic-settings
  1/poetry.lock
  1/pyproject.toml
Due: 1st-project

REF: Change starlette config to pydantic_settings
  1/src/my_fastapi_app/config.py
  1/src/my_fastapi_app/lifespan.py
Due: 1st-project

REF: Use custom state with type hints
  .pre-commit-config.yaml
  1/pyproject.toml
  1/src/my_fastapi_app/config.py
  1/src/my_fastapi_app/lifespan.py
  1/src/my_fastapi_app/main.py
  1/src/my_fastapi_app/state.py
Due: 1st-project

REF: Move core part of app to separate folder
  1/src/my_fastapi_app/core/__init__.py
  1/src/my_fastapi_app/core/config.py
  1/src/my_fastapi_app/core/lifespan.py
  1/src/my_fastapi_app/core/state.py
  1/src/my_fastapi_app/main.py
Due: 1st-project

REF: Add small improvements
  1/src/my_fastapi_app/core/state.py
  1/src/my_fastapi_app/main.py
Due: 1st-project

REF: Refactor app
  1/src/my_fastapi_app/core/config.py
  1/src/my_fastapi_app/core/connection.py
  1/src/my_fastapi_app/core/lifespan.py
  1/src/my_fastapi_app/main.py
  1/src/my_fastapi_app/routers/__init__.py
  1/src/my_fastapi_app/routers/api.py
  1/src/my_fastapi_app/routers/redirects.py
Due: 1st-project

FIX: Change settings type to sync
  1/src/my_fastapi_app/core/config.py
  1/src/my_fastapi_app/core/lifespan.py
Due: 1st-project

ADD: Add test for swagger
  .pre-commit-config.yaml
  1/pyproject.toml
  1/tests/mixins.py
  1/tests/test_swagger.py
Due: 1st-project

UPD: Trying to set type hints for state in request.state
  1/src/my_fastapi_app/core/connection.py
  1/src/my_fastapi_app/core/request.py
  1/src/my_fastapi_app/core/state.py
Due: 1st-project

REF: Move retry in separate decorator-method
  2/src/my_aiohttp_app/main.py
  2/src/my_aiohttp_app/schema.py
  2/src/my_aiohttp_app/serializers.py
  2/src/my_aiohttp_app/utils.py
Due: 2nd-project

CHG: Move session creation from scrapper
  2/src/my_aiohttp_app/main.py
  2/tests/test_github_scrapper.py
Due: 2nd-project

CHG: Improve response schema
  2/src/my_aiohttp_app/main.py
  2/src/my_aiohttp_app/schema.py
Due: 2nd-project

FIX: Improve type checking
  .pre-commit-config.yaml
  2/src/my_aiohttp_app/schema.py
Due: 2nd-project

REF: Move DataclassInstance to utils
  2/src/my_aiohttp_app/schema.py
  2/src/my_aiohttp_app/utils.py
Due: 2nd-project

REF: Improve code for better coding
  2/src/my_aiohttp_app/clickhouse.py
  2/src/my_aiohttp_app/clickhouse/__init__.py
  2/src/my_aiohttp_app/clickhouse/client.py
  2/src/my_aiohttp_app/clickhouse/core.py
  2/src/my_aiohttp_app/clickhouse/managers.py
  2/src/my_aiohttp_app/clickhouse/schemas.py
  2/src/my_aiohttp_app/clickhouse/serializers.py
  2/src/my_aiohttp_app/config.py
  2/src/my_aiohttp_app/core/__init__.py
  2/src/my_aiohttp_app/core/serializer.py
  2/src/my_aiohttp_app/dto.py
  2/src/my_aiohttp_app/github_repos_saver.py
  2/src/my_aiohttp_app/main.py
  2/src/my_aiohttp_app/serializers.py
Due: 2nd-project

CHG: Add additional typings
  2/src/my_aiohttp_app/clickhouse/core.py
  2/src/my_aiohttp_app/clickhouse/managers.py
  2/src/my_aiohttp_app/clickhouse/schemas.py
  2/src/my_aiohttp_app/clickhouse/serializers.py
  2/src/my_aiohttp_app/github_repos_saver.py
Due: 2nd-project

CHG: Move GitHub API URL to config
  2/src/my_aiohttp_app/config.py
  2/src/my_aiohttp_app/main.py
Due: 2nd-project

CHG: Change custom ClickhouseManagers generation
  2/src/my_aiohttp_app/clickhouse/core.py
  2/src/my_aiohttp_app/clickhouse/managers.py
Due: 2nd-project

Path conditions:
  1st-project: any of: ^1/
  2nd-project: any of: ^2/
